body {
    margin: 0;
}

body {
    height: 100%;
}

html {
    height: 100%;
}

#root {
    min-height: 100%;
}


.filter {
    position: fixed;
    right: 50px;
    top: 120px;
    background: #cccccc;
}

.filter .filter-title {
    margin: 10px 10px 0;
    display: block;
}

.filter input {
    margin: 0 10px 10px;
}
.filter.hidden .filter-title {
    display: none;
}

.filter.hidden input {
    display: none;
}

.filter button {
    float: right;
}